
body {
    font-family: monospace;
}

#whole {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#game {
    margin: 0px 20px 0px 20px;
}

#gameboard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-bottom: 20px;
}

.box, .marker {
    font-family: 'Montserrat', sans-serif;
}

.box {
    border: 1px solid #00000061;
    width: 100px;
    height: 100px;
    font-size: 6em;
    text-align: center;
}

.player {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 20px;
    font-size: 1.5em;
    text-align: center;
}

.marker {
    display: block;
    font-size: 2.5em;
    text-align: center;

}

#winner {
    padding: 2em;
    text-align: center;
    font-size: 2.5em;
}

.hover:hover {
    color: #8080803d;
}